@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#p-1:hover{
text-decoration: none;
text-align: right;
font-family: serif;
}

#p-2:hover{
    text-decoration: none;
    text-align: top right;
    font-family: monospace;
}


#p-3:hover{
    text-decoration: none;
    text-align: center;
    font-family: fantasy;
}



#p-4:hover{
    text-decoration: none;
    text-align: left;
    font-family: cursive;
}