#p-1{
text-decoration: underline;
}

#h1-1{
text-decoration: overline red;
}

#span{
text-decoration: line-through green 1px 2px 5px;
}


#h2-2{
text-decoration: underline overline green;
}

#a-1{
text-decoration: dashed underline chocolate;
}


#p2-2{
text-decoration: dashed 1px 2px 10px;
}