body {
  background-color: #e6f2e6; 
  padding: 20px;
  color: #000;
}
#class {
  display: flex;
  flex-wrap: wrap; 
  gap: 5px;      
}

h1 {
  color: #0a5c2f; 
  text-align: center;
}

h2 {
  color: #000;
  margin-top: 20px;
}


button {
  background-color: #0a5c2f; 
  color: white;
  border: 1px solid #000;
  padding: 6px 12px;
  margin: 5px 0;
  cursor: pointer;
}

button:hover {
  background-color: #330a0a; 
}


#class button {
  display: flex;
  width: 200px;
  margin-bottom: 5px;
}


input{
  padding: 6px;
  border: 1px solid #000;
  margin-right: 5px;
}


ul{
  background-color: white;
  border: 2px, solid, #0a5c2f;
  padding: 10px;
  width: 220px;
}

li {
  margin: 4px ;
  color: #000;
}

/* html2 */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #222;
  line-height: 1.6;
}


.clasi {
  color: black;
  text-align: center;
  padding: 60px ;
}

.clasi h1 {
  font-size: 60px;
  margin-bottom: 10px;

}

.clasi p {
  font-size: 20px;
  margin-bottom: 25px;
}

.clasi-buttons button {
  padding: 12px 22px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #ffd700;
  cursor: pointer;
  font-weight: bold;
}

.clasi-buttons button:hover {
  background-color: #381006;
}

/* sections for use */ 
.section {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

.section h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #0a6b0a;
}

.section p {
  text-align: center;
}


.center {
  text-align: center;
}

.center img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(204, 5, 5, 0.2);
}

/*barati*/
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 260px;
  padding: 20px;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  text-align: center;
}

.card h3 {
  margin-bottom: 10px;
  color: #0a6b0a;
}

/*vid*/
iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border-radius: 10px;
  border: none;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}


/* html3 */

.image-row {
  display: flex;
  justify-content: space-around;  
  align-items: flex-start;        
  flex-wrap: wrap;                
  margin: 20px 0;
}

.image-card {
  text-align: center;            
  margin: 10px;
}

.image-card img {
  width: 300px;                   
  height: auto;
  display: block;
  margin-bottom: 10px;         
}

.image-card p {
  font-size: 16px;
  color: #333;
}

#name1{
  color: #06bd58;
}

#name2{
  color: #06bd58;
}


#name3{
  color: #06bd58;
}












