@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



section{
    height: 800px;
    width: 800px;
    border-radius: 10%;
    background-color: white;
    border-bottom-right-radius:40%;
}



input{
    width: 150px;
    height: 50px;
    border-radius: 10px;

}

 #div1{
    display: flex;
    justify-content:space-around;
    align-items:start
    
}

#div2{
    display: flex;
    justify-content:space-around;
    align-items: start;
}

#div_main{
    margin:30px;
}

#line{
    height: 2px;
    width:600px;
    background-color: gainsboro;
    margin-left:75px;
   
}

h1{
    font-size: smaller;
    
}

h2{
    font-size: smaller;
}


h3{
    font-size: smaller;
}

button{
    border-radius: 50%;
    background-color: hsl(259, 100%, 65%);
    width: 75px;
    height: 75px;
    transform: translate(675px,-25px);
}


.h2{
    color:black;
    font-size: 100px;
    margin: 30px;;
    font-weight:bold;
    font-family:Poppins;

}

.span{
color: hsl(259, 100%, 65%);
font-size: 100px;
margin: 30px;
font-weight: 900;
}


body{
    background-color: gainsboro;
}