#p1{
text-decoration: dashed;
text-shadow: 1px 10px 3px;
}


#p2{
    text-decoration: solid;
    text-shadow: 5px 8px 8px;
    }



 #p3{
    text-decoration: dotted;
     text-shadow: 3px 5px 3px;
    }
